@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply w-full h-[100vh];
}
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 99%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 45%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
		--chart-1: 184.2 42.4% 48.2%;
		--chart-2: 35.3 100% 72%;
		--chart-3: 350 80% 72%;
		--chart-4: 351 83% 82%;
		--chart-5: 349 77% 62%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 99%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 221.2 83.2% 53.3%;
		--chart-1: 184.2 42.4% 48.2%;
		--chart-2: 184.2 42.4% 48.2%;
		--chart-3: 350 80% 72%;
		--chart-4: 351 83% 82%;
		--chart-5: 352 83% 91%;
	}
}

@layer utilities {
	.title {
		@apply font-medium text-[27px] font-roboto;
	}

	.form-group {
		@apply py-1.5;
	}

	.input {
		@apply border-transparent border-2 w-full h-10 pl-3 focus:outline-none overflow-hidden
    bg-gray-300 rounded-lg hover:border-primary hover:bg-white
    transition duration-500;
	}

	.header-box {
		@apply flex flex-col gap-1;
	}

	.header-box-title {
		@apply text-[27px] lg:text-[30px] font-semibold text-gray-900 font-roboto;
	}

	.header-box-subtext {
		@apply text-[14px] lg:text-[16px] font-normal text-gray-600;
	}

	.navbarLinks {
		@apply w-full text-center p-2.5 hover:border-x-2 hover:border-primary  rounded-md transition-all font-medium text-gray-700;
	}

	.activeLinks {
		@apply bg-primary text-white;
	}

	.signout {
		@apply transition-all hover:text-primary font-medium text-center w-full  absolute bottom-0 right-[0] py-5;
	}

	.info-box {
		@apply min-w-[150px] min-h-[80px] bg-white w-full lg:h-[100px] border border-double p-5 rounded-md flex items-center cursor-pointer shadow-sm;
	}

	.success-toast {
		@apply bg-green-100 text-green-900;
	}

	.error-toast {
		@apply border-red-500 text-white;
	}

	.radio-item {
		@apply flex items-center space-x-2 cursor-pointer;
	}

	.field-label {
		@apply text-[17px];
	}

	.submit-button {
		@apply text-white w-full py-6 text-[19px];
	}

	/* Sidebar Component */
	.sidebar {
		@apply hidden h-screen relative w-72 bg-white p-5 shadow-md shadow-purple-200/50 lg:flex;
	}

	.sidebar-logo {
		@apply flex justify-center items-center gap-2 md:py-5;
	}

	.sidebar-nav {
		@apply h-full flex-col justify-between md:flex md:gap-4;
	}

	.sidebar-nav_elements {
		@apply hidden w-full flex-col items-start gap-2 md:flex;
	}

	.sidebar-link {
		@apply p-16-semibold flex size-full gap-4 p-4;
	}

	.chart-container {
		@apply w-full bg-white shadow-sm;
	}

	.tab-list {
		@apply py-5 grid w-full grid-cols-6 place-content-center border text-gray-500 h-5;
	}

	.tabs-trigger {
		@apply hover:ring-1 mr-2 rounded-md;
	}

	.tabs-trigger[data-state="active"] {
		@apply bg-primary text-white shadow-inner;
	}

	.dialog-trigger {
		@apply text-white bg-primary  transition-all hover:ring-2;
	}

	.dialog-trigger[data-state="open"] {
		@apply ring-2;
	}

	/* Select */

	.select-field {
		@apply w-full border-2  focus:ring-2 !important;
	}

	.select-item {
		@apply leading-3 rounded-md bg-white hover:bg-purple-100 py-3 hover:text-white;
	}
}

.blue-gradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 0) 0%,
		rgba(255, 255, 255, 1) 0%,
		rgba(144, 236, 255, 1) 82%,
		rgba(0, 212, 255, 1) 100%
	);
}

.glassmorph {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
